.lista{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.peliculas{
    width: 600px;
    cursor:pointer;
    border:1px solid black;
    background-color:rgb(189, 189, 189) ;
}
.movie{
    width: 600px;
    overflow-y: scroll;
    background-color:rgb(189, 189, 189);
    height: 300px;
}
.aplicacion{
    margin-top:40px;
    display:flex;
    justify-content: space-between;
}
.lista{
    display:flex;
    flex-direction: column;
}
.titulo{
    background-color:rgb(139, 139, 139);
    height: 50px;
    border-radius:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}